
.inFromRight-leave {
    transform: translate3d(0, 0, 0);
}

.inFromRight-leave.inFromRight-leave-active {
    transform: translate3d(-150%, 0, 0);
    transition: all ease-out 600ms;
}

.inFromRight-enter {
    position: absolute;
    width: 770px;
    top: 221px;
    transform: translate3d(150%, 0, 0);
}

.inFromRight-enter.inFromRight-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all ease-out 600ms;
}

.inFromLeft-leave {
    position: absolute;
    width: 770px;
    top: 221px;
    transform: translate3d(0, 0, 0);
}

.inFromLeft-leave.inFromLeft-leave-active {
    transform: translate3d(150%, 0, 0);
    transition: all ease-out 600ms;
}

.inFromLeft-enter {
    transform: translate3d(-150%, 0, 0);
}

.inFromLeft-enter.inFromLeft-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all ease-out 600ms;
}