@import url(//fonts.googleapis.com/css?family=Days+One);

body:not(.users_page) #profile_header {
    margin-bottom: 10px
}

body:not(.users_page) #profile_header .panel {
    padding: 10px;
    margin-bottom: 0
}

body:not(.users_page) #profile_header #user_status {
    display: none
}

body:not(.users_page) #profile_header .profile_image {
    width: 35px;
    margin-right: 15px
}

body:not(.users_page) #profile_header .profile_image img {
    max-height: 35px
}

body:not(.users_page) #profile_header .profile_image .profile_image_update {
    display: none
}

body:not(.users_page) #profile_header .profile-heading, body:not(.users_page) #profile_header .user_content_nav {
    float: left;
    margin-right: 220px
}

body:not(.users_page) #profile_header .profile-heading {
    margin: 5px 15px 5px 0
}

#user_profile_page #content {
    margin-left: 0
}

#profile_header * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#profile_header .panel > div.span12 {
    position: relative
}

#profile_header .profile_image {
    width: 125px;
    margin-right: 15px
}

#profile_header .profile_image img {
    max-width: 125px;
    max-height: 125px
}

#profile_header .profile_image .profile_image_update {
    margin: 5px 0 0;
    text-align: center
}

#profile_header .profile-heading a {
    color: inherit;
    text-decoration: none
}

#profile_header .profile_nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    text-align: right
}

@media (max-width: 767px) {
    #profile_header .profile_nav {
        position: static;
        width: auto;
        text-align: left
    }
}

#profile_header .profile_nav .nav li, #profile_header .profile_nav .nav a {
    display: inline-block
}

#profile_header .user_content_nav {
    margin-bottom: -20px
}

@media (max-width: 767px) {
    #profile_header .user_content_nav {
        clear: left;
        padding-top: 15px
    }
}

#profile_header .user_buttons {
    overflow: hidden
}

#profile_header .user_buttons #user_status {
    float: left
}

#profile_header .user_buttons .transfers.btn {
    float: right
}

#profile_progress h4 {
    display: none
}

@media (max-width: 979px) {
    .user_content_nav {
        clear: both;
        padding-top: 10px
    }

    .user_content_nav .btn-navbar, .user_content_nav .btn-navbar:hover {
        float: none;
        color: #333;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25)
    }

    .user_content_nav .profile_menu .nav li {
        text-align: center
    }
}

.user_content * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@media (max-width: 979px) {
    .user_content .span8 .content_panels .span6 {
        width: 100%;
        float: none
    }
}

.grid.thumbnails > li {
    margin-bottom: 2.12766%
}

@media (min-width: 1200px) {
    .grid.thumbnails > li {
        margin-bottom: 2.5641%
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .grid.thumbnails > li {
        margin-bottom: 2.76243%
    }
}

.grid.thumbnails .thumbnail {
    position: relative;
    overflow: hidden;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
    height: 13em
}

.grid.thumbnails .thumbnail .thumbnail_img, .grid.thumbnails .thumbnail .video_player_container {
    height: 100%;
    overflow: hidden;
    position: relative
}

.grid.thumbnails .thumbnail .thumbnail_img img, .grid.thumbnails .thumbnail .video_player_container img {
    max-width: none;
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -500px;
    right: -500px;
    margin: auto
}

.grid.thumbnails .thumbnail .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    background: #fff;
    overflow: hidden;
    max-height: 3em;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s
}

.grid.thumbnails .thumbnail .details p, .grid.thumbnails .thumbnail .details h4 {
    margin-top: 10px
}

.grid.thumbnails .thumbnail:not(.play):hover {
    overflow: visible
}

.grid.thumbnails .thumbnail:not(.play):hover .details p, .grid.thumbnails .thumbnail:not(.play):hover .details h4 {
    height: auto;
    white-space: normal
}

.grid.thumbnails .thumbnail.friendship_row .details {
    overflow: visible
}

.grid.thumbnails .span12 {
    height: auto;
    margin-left: 0
}

[class*="span"] .grid.thumbnails [class*="span"]:hover .details {
    max-height: 100em
}

@media (min-width: 768px) and (max-width: 979px) {
    .span12 .grid.thumbnails .span2 {
        height: 6em
    }

    .span12 .grid.thumbnails .span2 .thumbnail_img {
        height: 3em
    }

    .span12 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 6em
    }

    .span12 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span12 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.group .thumbnail_img {
        height: 1.7em
    }

    .span12 .grid.thumbnails .span2.video {
        height: 6em
    }

    .span12 .grid.thumbnails .span2.video .thumbnail_img, .span12 .grid.thumbnails .span2.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span12 .grid.thumbnails .span2 {
        height: 5em
    }

    .span12 .grid.thumbnails .span2 .thumbnail_img {
        height: 2em
    }

    .span12 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 5em
    }

    .span12 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: .7em
    }

    .span12 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.group .thumbnail_img {
        height: .7em
    }

    .span12 .grid.thumbnails .span2.video {
        height: 6.5em
    }

    .span12 .grid.thumbnails .span2.video .thumbnail_img, .span12 .grid.thumbnails .span2.video .video_player_container {
        height: 3.5em
    }
}

@media (min-width: 1200px) {
    .span12 .grid.thumbnails .span2 {
        height: 6em
    }

    .span12 .grid.thumbnails .span2 .thumbnail_img {
        height: 3em
    }

    .span12 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 6em
    }

    .span12 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span12 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span2.group .thumbnail_img {
        height: 1.7em
    }

    .span12 .grid.thumbnails .span2.video {
        height: 7.5em
    }

    .span12 .grid.thumbnails .span2.video .thumbnail_img, .span12 .grid.thumbnails .span2.video .video_player_container {
        height: 4.5em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span12 .grid.thumbnails .span3 {
        height: 9em
    }

    .span12 .grid.thumbnails .span3 .thumbnail_img {
        height: 6em
    }

    .span12 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 9em
    }

    .span12 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 4.7em
    }

    .span12 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.group .thumbnail_img {
        height: 4.7em
    }

    .span12 .grid.thumbnails .span3.video {
        height: 9em
    }

    .span12 .grid.thumbnails .span3.video .thumbnail_img, .span12 .grid.thumbnails .span3.video .video_player_container {
        height: 6em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span12 .grid.thumbnails .span3 {
        height: 7.5em
    }

    .span12 .grid.thumbnails .span3 .thumbnail_img {
        height: 4.5em
    }

    .span12 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 7.5em
    }

    .span12 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 3.2em
    }

    .span12 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.group .thumbnail_img {
        height: 3.2em
    }

    .span12 .grid.thumbnails .span3.video {
        height: 9.75em
    }

    .span12 .grid.thumbnails .span3.video .thumbnail_img, .span12 .grid.thumbnails .span3.video .video_player_container {
        height: 6.75em
    }
}

@media (min-width: 1200px) {
    .span12 .grid.thumbnails .span3 {
        height: 9em
    }

    .span12 .grid.thumbnails .span3 .thumbnail_img {
        height: 6em
    }

    .span12 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 9em
    }

    .span12 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 4.7em
    }

    .span12 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span3.group .thumbnail_img {
        height: 4.7em
    }

    .span12 .grid.thumbnails .span3.video {
        height: 11.25em
    }

    .span12 .grid.thumbnails .span3.video .thumbnail_img, .span12 .grid.thumbnails .span3.video .video_player_container {
        height: 8.25em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span12 .grid.thumbnails .span4 {
        height: 12em
    }

    .span12 .grid.thumbnails .span4 .thumbnail_img {
        height: 9em
    }

    .span12 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 12em
    }

    .span12 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span12 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.group .thumbnail_img {
        height: 7.7em
    }

    .span12 .grid.thumbnails .span4.video {
        height: 12em
    }

    .span12 .grid.thumbnails .span4.video .thumbnail_img, .span12 .grid.thumbnails .span4.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span12 .grid.thumbnails .span4 {
        height: 10em
    }

    .span12 .grid.thumbnails .span4 .thumbnail_img {
        height: 7em
    }

    .span12 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 10em
    }

    .span12 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 5.7em
    }

    .span12 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.group .thumbnail_img {
        height: 5.7em
    }

    .span12 .grid.thumbnails .span4.video {
        height: 13em
    }

    .span12 .grid.thumbnails .span4.video .thumbnail_img, .span12 .grid.thumbnails .span4.video .video_player_container {
        height: 10em
    }
}

@media (min-width: 1200px) {
    .span12 .grid.thumbnails .span4 {
        height: 12em
    }

    .span12 .grid.thumbnails .span4 .thumbnail_img {
        height: 9em
    }

    .span12 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 12em
    }

    .span12 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span12 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span4.group .thumbnail_img {
        height: 7.7em
    }

    .span12 .grid.thumbnails .span4.video {
        height: 15em
    }

    .span12 .grid.thumbnails .span4.video .thumbnail_img, .span12 .grid.thumbnails .span4.video .video_player_container {
        height: 12em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span12 .grid.thumbnails .span6 {
        height: 18em
    }

    .span12 .grid.thumbnails .span6 .thumbnail_img {
        height: 15em
    }

    .span12 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 18em
    }

    .span12 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 13.7em
    }

    .span12 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.group .thumbnail_img {
        height: 13.7em
    }

    .span12 .grid.thumbnails .span6.video {
        height: 18em
    }

    .span12 .grid.thumbnails .span6.video .thumbnail_img, .span12 .grid.thumbnails .span6.video .video_player_container {
        height: 15em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span12 .grid.thumbnails .span6 {
        height: 15em
    }

    .span12 .grid.thumbnails .span6 .thumbnail_img {
        height: 12em
    }

    .span12 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 15em
    }

    .span12 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 10.7em
    }

    .span12 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.group .thumbnail_img {
        height: 10.7em
    }

    .span12 .grid.thumbnails .span6.video {
        height: 19.5em
    }

    .span12 .grid.thumbnails .span6.video .thumbnail_img, .span12 .grid.thumbnails .span6.video .video_player_container {
        height: 16.5em
    }
}

@media (min-width: 1200px) {
    .span12 .grid.thumbnails .span6 {
        height: 18em
    }

    .span12 .grid.thumbnails .span6 .thumbnail_img {
        height: 15em
    }

    .span12 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 18em
    }

    .span12 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 13.7em
    }

    .span12 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span6.group .thumbnail_img {
        height: 13.7em
    }

    .span12 .grid.thumbnails .span6.video {
        height: 22.5em
    }

    .span12 .grid.thumbnails .span6.video .thumbnail_img, .span12 .grid.thumbnails .span6.video .video_player_container {
        height: 19.5em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span12 .grid.thumbnails .span12 {
        height: 36em
    }

    .span12 .grid.thumbnails .span12 .thumbnail_img {
        height: 33em
    }

    .span12 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 36em
    }

    .span12 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 31.7em
    }

    .span12 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.group .thumbnail_img {
        height: 31.7em
    }

    .span12 .grid.thumbnails .span12.video {
        height: 36em
    }

    .span12 .grid.thumbnails .span12.video .thumbnail_img, .span12 .grid.thumbnails .span12.video .video_player_container {
        height: 33em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span12 .grid.thumbnails .span12 {
        height: 30em
    }

    .span12 .grid.thumbnails .span12 .thumbnail_img {
        height: 27em
    }

    .span12 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 30em
    }

    .span12 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 25.7em
    }

    .span12 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.group .thumbnail_img {
        height: 25.7em
    }

    .span12 .grid.thumbnails .span12.video {
        height: 39em
    }

    .span12 .grid.thumbnails .span12.video .thumbnail_img, .span12 .grid.thumbnails .span12.video .video_player_container {
        height: 36em
    }
}

@media (min-width: 1200px) {
    .span12 .grid.thumbnails .span12 {
        height: 36em
    }

    .span12 .grid.thumbnails .span12 .thumbnail_img {
        height: 33em
    }

    .span12 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span12 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 36em
    }

    .span12 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 31.7em
    }

    .span12 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span12 .grid.thumbnails .span12.group .thumbnail_img {
        height: 31.7em
    }

    .span12 .grid.thumbnails .span12.video {
        height: 45em
    }

    .span12 .grid.thumbnails .span12.video .thumbnail_img, .span12 .grid.thumbnails .span12.video .video_player_container {
        height: 42em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span8 .grid.thumbnails .span2 {
        height: 6em
    }

    .span8 .grid.thumbnails .span2 .thumbnail_img {
        height: 3em
    }

    .span8 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 6em
    }

    .span8 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span8 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.group .thumbnail_img {
        height: 1.7em
    }

    .span8 .grid.thumbnails .span2.video {
        height: 6em
    }

    .span8 .grid.thumbnails .span2.video .thumbnail_img, .span8 .grid.thumbnails .span2.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span8 .grid.thumbnails .span2 {
        height: 6em
    }

    .span8 .grid.thumbnails .span2 .thumbnail_img {
        height: 3em
    }

    .span8 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 6em
    }

    .span8 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span8 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.group .thumbnail_img {
        height: 1.7em
    }

    .span8 .grid.thumbnails .span2.video {
        height: 4em
    }

    .span8 .grid.thumbnails .span2.video .thumbnail_img, .span8 .grid.thumbnails .span2.video .video_player_container {
        height: 1em
    }
}

@media (min-width: 1200px) {
    .span8 .grid.thumbnails .span2 {
        height: 8em
    }

    .span8 .grid.thumbnails .span2 .thumbnail_img {
        height: 5em
    }

    .span8 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 8em
    }

    .span8 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 3.7em
    }

    .span8 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span2.group .thumbnail_img {
        height: 3.7em
    }

    .span8 .grid.thumbnails .span2.video {
        height: 6em
    }

    .span8 .grid.thumbnails .span2.video .thumbnail_img, .span8 .grid.thumbnails .span2.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span8 .grid.thumbnails .span3 {
        height: 9em
    }

    .span8 .grid.thumbnails .span3 .thumbnail_img {
        height: 6em
    }

    .span8 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 9em
    }

    .span8 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 4.7em
    }

    .span8 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.group .thumbnail_img {
        height: 4.7em
    }

    .span8 .grid.thumbnails .span3.video {
        height: 9em
    }

    .span8 .grid.thumbnails .span3.video .thumbnail_img, .span8 .grid.thumbnails .span3.video .video_player_container {
        height: 6em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span8 .grid.thumbnails .span3 {
        height: 9em
    }

    .span8 .grid.thumbnails .span3 .thumbnail_img {
        height: 6em
    }

    .span8 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 9em
    }

    .span8 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 4.7em
    }

    .span8 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.group .thumbnail_img {
        height: 4.7em
    }

    .span8 .grid.thumbnails .span3.video {
        height: 6em
    }

    .span8 .grid.thumbnails .span3.video .thumbnail_img, .span8 .grid.thumbnails .span3.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 1200px) {
    .span8 .grid.thumbnails .span3 {
        height: 12em
    }

    .span8 .grid.thumbnails .span3 .thumbnail_img {
        height: 9em
    }

    .span8 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 12em
    }

    .span8 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span3.group .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span3.video {
        height: 9em
    }

    .span8 .grid.thumbnails .span3.video .thumbnail_img, .span8 .grid.thumbnails .span3.video .video_player_container {
        height: 6em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span8 .grid.thumbnails .span4 {
        height: 12em
    }

    .span8 .grid.thumbnails .span4 .thumbnail_img {
        height: 9em
    }

    .span8 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 12em
    }

    .span8 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.group .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span4.video {
        height: 12em
    }

    .span8 .grid.thumbnails .span4.video .thumbnail_img, .span8 .grid.thumbnails .span4.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span8 .grid.thumbnails .span4 {
        height: 12em
    }

    .span8 .grid.thumbnails .span4 .thumbnail_img {
        height: 9em
    }

    .span8 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 12em
    }

    .span8 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.group .thumbnail_img {
        height: 7.7em
    }

    .span8 .grid.thumbnails .span4.video {
        height: 8em
    }

    .span8 .grid.thumbnails .span4.video .thumbnail_img, .span8 .grid.thumbnails .span4.video .video_player_container {
        height: 5em
    }
}

@media (min-width: 1200px) {
    .span8 .grid.thumbnails .span4 {
        height: 16em
    }

    .span8 .grid.thumbnails .span4 .thumbnail_img {
        height: 13em
    }

    .span8 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 16em
    }

    .span8 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 11.7em
    }

    .span8 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span4.group .thumbnail_img {
        height: 11.7em
    }

    .span8 .grid.thumbnails .span4.video {
        height: 12em
    }

    .span8 .grid.thumbnails .span4.video .thumbnail_img, .span8 .grid.thumbnails .span4.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span8 .grid.thumbnails .span6 {
        height: 18em
    }

    .span8 .grid.thumbnails .span6 .thumbnail_img {
        height: 15em
    }

    .span8 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 18em
    }

    .span8 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 13.7em
    }

    .span8 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.group .thumbnail_img {
        height: 13.7em
    }

    .span8 .grid.thumbnails .span6.video {
        height: 18em
    }

    .span8 .grid.thumbnails .span6.video .thumbnail_img, .span8 .grid.thumbnails .span6.video .video_player_container {
        height: 15em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span8 .grid.thumbnails .span6 {
        height: 18em
    }

    .span8 .grid.thumbnails .span6 .thumbnail_img {
        height: 15em
    }

    .span8 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 18em
    }

    .span8 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 13.7em
    }

    .span8 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.group .thumbnail_img {
        height: 13.7em
    }

    .span8 .grid.thumbnails .span6.video {
        height: 12em
    }

    .span8 .grid.thumbnails .span6.video .thumbnail_img, .span8 .grid.thumbnails .span6.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 1200px) {
    .span8 .grid.thumbnails .span6 {
        height: 24em
    }

    .span8 .grid.thumbnails .span6 .thumbnail_img {
        height: 21em
    }

    .span8 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 24em
    }

    .span8 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 19.7em
    }

    .span8 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span6.group .thumbnail_img {
        height: 19.7em
    }

    .span8 .grid.thumbnails .span6.video {
        height: 18em
    }

    .span8 .grid.thumbnails .span6.video .thumbnail_img, .span8 .grid.thumbnails .span6.video .video_player_container {
        height: 15em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span8 .grid.thumbnails .span12 {
        height: 36em
    }

    .span8 .grid.thumbnails .span12 .thumbnail_img {
        height: 33em
    }

    .span8 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 36em
    }

    .span8 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 31.7em
    }

    .span8 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.group .thumbnail_img {
        height: 31.7em
    }

    .span8 .grid.thumbnails .span12.video {
        height: 36em
    }

    .span8 .grid.thumbnails .span12.video .thumbnail_img, .span8 .grid.thumbnails .span12.video .video_player_container {
        height: 33em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span8 .grid.thumbnails .span12 {
        height: 36em
    }

    .span8 .grid.thumbnails .span12 .thumbnail_img {
        height: 33em
    }

    .span8 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 36em
    }

    .span8 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 31.7em
    }

    .span8 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.group .thumbnail_img {
        height: 31.7em
    }

    .span8 .grid.thumbnails .span12.video {
        height: 24em
    }

    .span8 .grid.thumbnails .span12.video .thumbnail_img, .span8 .grid.thumbnails .span12.video .video_player_container {
        height: 21em
    }
}

@media (min-width: 1200px) {
    .span8 .grid.thumbnails .span12 {
        height: 48em
    }

    .span8 .grid.thumbnails .span12 .thumbnail_img {
        height: 45em
    }

    .span8 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span8 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 48em
    }

    .span8 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 43.7em
    }

    .span8 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span8 .grid.thumbnails .span12.group .thumbnail_img {
        height: 43.7em
    }

    .span8 .grid.thumbnails .span12.video {
        height: 36em
    }

    .span8 .grid.thumbnails .span12.video .thumbnail_img, .span8 .grid.thumbnails .span12.video .video_player_container {
        height: 33em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 .grid.thumbnails .span2 {
        height: 6em
    }

    .span4 .grid.thumbnails .span2 .thumbnail_img {
        height: 3em
    }

    .span4 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 6em
    }

    .span4 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.group .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span2.video {
        height: 6em
    }

    .span4 .grid.thumbnails .span2.video .thumbnail_img, .span4 .grid.thumbnails .span2.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span4 .grid.thumbnails .span2 {
        height: 4em
    }

    .span4 .grid.thumbnails .span2 .thumbnail_img {
        height: 1em
    }

    .span4 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 4em
    }

    .span4 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: -.3em
    }

    .span4 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.group .thumbnail_img {
        height: -.3em
    }

    .span4 .grid.thumbnails .span2.video {
        height: 4em
    }

    .span4 .grid.thumbnails .span2.video .thumbnail_img, .span4 .grid.thumbnails .span2.video .video_player_container {
        height: 1em
    }
}

@media (min-width: 1200px) {
    .span4 .grid.thumbnails .span2 {
        height: 4em
    }

    .span4 .grid.thumbnails .span2 .thumbnail_img {
        height: 1em
    }

    .span4 .grid.thumbnails .span2.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span2.photo .thumbnail_img {
        height: 4em
    }

    .span4 .grid.thumbnails .span2.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.photo_album .thumbnail_img {
        height: -.3em
    }

    .span4 .grid.thumbnails .span2.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span2.group .thumbnail_img {
        height: -.3em
    }

    .span4 .grid.thumbnails .span2.video {
        height: 4em
    }

    .span4 .grid.thumbnails .span2.video .thumbnail_img, .span4 .grid.thumbnails .span2.video .video_player_container {
        height: 1em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 .grid.thumbnails .span3 {
        height: 9em
    }

    .span4 .grid.thumbnails .span3 .thumbnail_img {
        height: 6em
    }

    .span4 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 9em
    }

    .span4 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 4.7em
    }

    .span4 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.group .thumbnail_img {
        height: 4.7em
    }

    .span4 .grid.thumbnails .span3.video {
        height: 9em
    }

    .span4 .grid.thumbnails .span3.video .thumbnail_img, .span4 .grid.thumbnails .span3.video .video_player_container {
        height: 6em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span4 .grid.thumbnails .span3 {
        height: 6em
    }

    .span4 .grid.thumbnails .span3 .thumbnail_img {
        height: 3em
    }

    .span4 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 6em
    }

    .span4 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.group .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span3.video {
        height: 6em
    }

    .span4 .grid.thumbnails .span3.video .thumbnail_img, .span4 .grid.thumbnails .span3.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 1200px) {
    .span4 .grid.thumbnails .span3 {
        height: 6em
    }

    .span4 .grid.thumbnails .span3 .thumbnail_img {
        height: 3em
    }

    .span4 .grid.thumbnails .span3.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span3.photo .thumbnail_img {
        height: 6em
    }

    .span4 .grid.thumbnails .span3.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.photo_album .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span3.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span3.group .thumbnail_img {
        height: 1.7em
    }

    .span4 .grid.thumbnails .span3.video {
        height: 6em
    }

    .span4 .grid.thumbnails .span3.video .thumbnail_img, .span4 .grid.thumbnails .span3.video .video_player_container {
        height: 3em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 .grid.thumbnails .span4 {
        height: 12em
    }

    .span4 .grid.thumbnails .span4 .thumbnail_img {
        height: 9em
    }

    .span4 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 12em
    }

    .span4 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.group .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span4.video {
        height: 12em
    }

    .span4 .grid.thumbnails .span4.video .thumbnail_img, .span4 .grid.thumbnails .span4.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span4 .grid.thumbnails .span4 {
        height: 8em
    }

    .span4 .grid.thumbnails .span4 .thumbnail_img {
        height: 5em
    }

    .span4 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 8em
    }

    .span4 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 3.7em
    }

    .span4 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.group .thumbnail_img {
        height: 3.7em
    }

    .span4 .grid.thumbnails .span4.video {
        height: 8em
    }

    .span4 .grid.thumbnails .span4.video .thumbnail_img, .span4 .grid.thumbnails .span4.video .video_player_container {
        height: 5em
    }
}

@media (min-width: 1200px) {
    .span4 .grid.thumbnails .span4 {
        height: 8em
    }

    .span4 .grid.thumbnails .span4 .thumbnail_img {
        height: 5em
    }

    .span4 .grid.thumbnails .span4.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span4.photo .thumbnail_img {
        height: 8em
    }

    .span4 .grid.thumbnails .span4.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.photo_album .thumbnail_img {
        height: 3.7em
    }

    .span4 .grid.thumbnails .span4.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span4.group .thumbnail_img {
        height: 3.7em
    }

    .span4 .grid.thumbnails .span4.video {
        height: 8em
    }

    .span4 .grid.thumbnails .span4.video .thumbnail_img, .span4 .grid.thumbnails .span4.video .video_player_container {
        height: 5em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 .grid.thumbnails .span6 {
        height: 18em
    }

    .span4 .grid.thumbnails .span6 .thumbnail_img {
        height: 15em
    }

    .span4 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 18em
    }

    .span4 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 13.7em
    }

    .span4 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.group .thumbnail_img {
        height: 13.7em
    }

    .span4 .grid.thumbnails .span6.video {
        height: 18em
    }

    .span4 .grid.thumbnails .span6.video .thumbnail_img, .span4 .grid.thumbnails .span6.video .video_player_container {
        height: 15em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span4 .grid.thumbnails .span6 {
        height: 12em
    }

    .span4 .grid.thumbnails .span6 .thumbnail_img {
        height: 9em
    }

    .span4 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 12em
    }

    .span4 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.group .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span6.video {
        height: 12em
    }

    .span4 .grid.thumbnails .span6.video .thumbnail_img, .span4 .grid.thumbnails .span6.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 1200px) {
    .span4 .grid.thumbnails .span6 {
        height: 12em
    }

    .span4 .grid.thumbnails .span6 .thumbnail_img {
        height: 9em
    }

    .span4 .grid.thumbnails .span6.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span6.photo .thumbnail_img {
        height: 12em
    }

    .span4 .grid.thumbnails .span6.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.photo_album .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span6.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span6.group .thumbnail_img {
        height: 7.7em
    }

    .span4 .grid.thumbnails .span6.video {
        height: 12em
    }

    .span4 .grid.thumbnails .span6.video .thumbnail_img, .span4 .grid.thumbnails .span6.video .video_player_container {
        height: 9em
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4 .grid.thumbnails .span12 {
        height: 36em
    }

    .span4 .grid.thumbnails .span12 .thumbnail_img {
        height: 33em
    }

    .span4 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 36em
    }

    .span4 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 31.7em
    }

    .span4 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.group .thumbnail_img {
        height: 31.7em
    }

    .span4 .grid.thumbnails .span12.video {
        height: 36em
    }

    .span4 .grid.thumbnails .span12.video .thumbnail_img, .span4 .grid.thumbnails .span12.video .video_player_container {
        height: 33em
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span4 .grid.thumbnails .span12 {
        height: 24em
    }

    .span4 .grid.thumbnails .span12 .thumbnail_img {
        height: 21em
    }

    .span4 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 24em
    }

    .span4 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 19.7em
    }

    .span4 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.group .thumbnail_img {
        height: 19.7em
    }

    .span4 .grid.thumbnails .span12.video {
        height: 24em
    }

    .span4 .grid.thumbnails .span12.video .thumbnail_img, .span4 .grid.thumbnails .span12.video .video_player_container {
        height: 21em
    }
}

@media (min-width: 1200px) {
    .span4 .grid.thumbnails .span12 {
        height: 24em
    }

    .span4 .grid.thumbnails .span12 .thumbnail_img {
        height: 21em
    }

    .span4 .grid.thumbnails .span12.photo .details {
        max-height: 0em
    }

    .span4 .grid.thumbnails .span12.photo .thumbnail_img {
        height: 24em
    }

    .span4 .grid.thumbnails .span12.photo_album .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.photo_album .thumbnail_img {
        height: 19.7em
    }

    .span4 .grid.thumbnails .span12.group .details {
        max-height: 4.3em
    }

    .span4 .grid.thumbnails .span12.group .thumbnail_img {
        height: 19.7em
    }

    .span4 .grid.thumbnails .span12.video {
        height: 24em
    }

    .span4 .grid.thumbnails .span12.video .thumbnail_img, .span4 .grid.thumbnails .span12.video .video_player_container {
        height: 21em
    }
}

#sidebar .grid.thumbnails .thumbnail {
    margin: 1px
}

@media (max-width: 767px) {
    .grid.thumbnails .thumbnail {
        height: 5em
    }
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ebeced
}

@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0
    }
}

body.pdf {
    background-color: #fff
}

a, a:link, a:visited {
    color: #c71326
}

a:hover, a:active, a:focus {
    color: #ea2035
}

a.btn {
    color: inherit
}

a.btn.btn-primary, a.btn.btn-danger {
    color: #fff
}

.btn-primary {
    color: #fff;
    background-color: #c71326;
    background-image: -moz-linear-gradient(top, #ea2338, #810c19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea2338), to(#810c19));
    background-image: -webkit-linear-gradient(top, #ea2338, #810c19);
    background-image: -o-linear-gradient(top, #ea2338, #810c19);
    background-image: linear, to bottom, #ea2338, #810c19;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea2338', endColorstr='#810c19', GradientType=0);
    border-color: #810c19 #810c19 #530810
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #810c19;
    background-image: none;
    color: #fff
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #810c19
}

.progress .bar {
    color: #fff;
    background-color: #c71326;
    background-image: -moz-linear-gradient(top, #ea2338, #810c19);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea2338), to(#810c19));
    background-image: -webkit-linear-gradient(top, #ea2338, #810c19);
    background-image: -o-linear-gradient(top, #ea2338, #810c19);
    background-image: linear, to bottom, #ea2338, #810c19;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea2338', endColorstr='#810c19', GradientType=0)
}

.nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color: #c71326;
    border-bottom-color: #c71326
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #c71326
}

.badge-info {
    background-color: #c71326
}

.dropdown-menu > .active > a {
    color: #fff !important;
    background-color: #c71326 !important;
    background-image: none
}

.dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu .dropdown-submenu:hover > a, .dropdown-menu .dropdown-submenu:focus > a {
    color: #fff !important;
    background-color: #ea2035 !important;
    background-image: none
}

.media-list .media-body p {
    margin: 0
}

.media-list .media-body .datestamp {
    background-color: #afafaf;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 4px;
    display: inline-block;
    margin-bottom: 3px
}

#site_nav, .panel-heading {
    font-family: 'Days One', sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase
}

.first_featured {
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2)
}

.first_featured .recent .content {
    border-top: 1px solid #fff;
    border-bottom: 0
}

.first_featured .recent .content:first-child {
    border-top: 0
}

@media (max-width: 767px) {
    .first_featured .recent .content {
        border-top: 0
    }
}

#content, .panel, #map {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2)
}

#content, .panel {
    background-color: #fff;
    box-sizing: border-box
}

#content {
    padding: 10px 15px
}

#content #page_header {
    margin: -10px -15px 15px;
    padding: 10px 15px 0;
    border-bottom: 0
}

#content #page_header h2 {
    margin: 0 0 5px;
    font-size: 25px;
    line-height: 30px
}

#content #page_header .header_details {
    margin: 15px -15px;
    padding: 0 15px 0;
    background-color: #ebeced;
    border-top: 1px solid #dedfe1;
    border-bottom: 1px solid #dedfe1
}

#content #page_header .header_details .actions {
    padding: 2px 0
}

#content #page_header .header_details .breadcrumb {
    margin: 0;
    padding: 8px 0;
    background-color: transparent
}

.panel {
    border: 0;
    border-radius: 0
}

.panel .panel-heading {
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #c71326;
    border-bottom: 1px solid #b01122;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.panel .panel-footer {
    text-align: right;
    padding: 5px 10px
}

#site_header {
    margin-top: -2px;
    margin-bottom: 20px;
    position: relative
}

@media (max-width: 767px) {
    #site_header {
        margin-top: -20px;
        margin-bottom: 10px
    }
}

#site_header .site_logo_row {
    overflow: hidden;
    height: 125px
}

@media (min-width: 768px) and (max-width: 979px) {
    #site_header .site_logo_row {
        height: 120px
    }
}

@media (max-width: 767px) {
    #site_header .site_logo_row {
        height: 90px
    }
}

#site_header .site_logo_row .container {
    position: relative;
    z-index: 5
}

#site_header .site_logo_row .outside_left, #site_header .site_logo_row .outside_right {
    width: 100%;
    height: 1000px;
    background-color: #c71326;
    position: absolute;
    top: -300px;
    z-index: 10;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg)
}

@media (max-width: 979px) {
    #site_header .site_logo_row .outside_left, #site_header .site_logo_row .outside_right {
        display: none
    }
}

@media (min-width: 1200px) {
    #site_header .site_logo_row .outside_left {
        left: -1205px
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    #site_header .site_logo_row .outside_left {
        left: -975px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #site_header .site_logo_row .outside_left {
        left: -759px
    }
}

@media (max-width: 767px) {
    #site_header .site_logo_row .outside_left {
        left: -35px
    }
}

#site_header .site_logo_row .outside_left .stripe_left, #site_header .site_logo_row .outside_left .stripe_right {
    width: 30px;
    height: 1000px;
    position: absolute;
    top: 0;
    z-index: 15
}

#site_header .site_logo_row .outside_left .stripe_left {
    right: 46px;
    background-color: rgba(0, 0, 0, 0.2)
}

#site_header .site_logo_row .outside_left .stripe_right {
    right: 8px;
    background-color: rgba(0, 0, 0, 0.4)
}

@media (min-width: 1200px) {
    #site_header .site_logo_row .outside_right {
        right: -1135px
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    #site_header .site_logo_row .outside_right {
        right: -905px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #site_header .site_logo_row .outside_right {
        right: -689px
    }
}

@media (max-width: 767px) {
    #site_header .site_logo_row .outside_right {
        right: 35px
    }
}

#site_logo_container .site_logo {
    margin-top: 10px;
    margin-left: 35px
}

@media (max-width: 979px) {
    #site_logo_container .site_logo {
        display: none;
        margin-top: 0
    }
}

#site_logo_container .site_logo img {
    width: 288px;
    height: 105px
}

#site_logo_container .site_header_ad {
    width: 728px;
    margin-top: 20px;
    margin-left: -35px;
    text-align: center
}

@media (min-width: 980px) and (max-width: 1199px) {
    #site_logo_container .site_header_ad {
        width: 528px;
        margin-left: 20px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #site_logo_container .site_header_ad {
        margin-top: 15px;
        margin-left: 0
    }
}

@media (max-width: 767px) {
    #site_logo_container .site_header_ad {
        width: 98%;
        margin: 5px auto
    }
}

#site_logo_container .site_header_ad .ad {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90px
}

@media (max-width: 767px) {
    #site_logo_container .site_header_ad .ad {
        height: 75px
    }
}

#site_nav_container {
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

@media (max-width: 767px) {
    header.navbar {
        margin-left: 0;
        margin-right: 0
    }
}

#site_nav {
    margin: 0;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none
}

#site_nav .brand {
    display: none
}

#site_nav .navbar-inner {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0
}

#site_nav .navbar-inner .nav li {
    position: relative;
    margin-right: 2px
}

#site_nav .navbar-inner .nav li a {
    color: #000;
    text-decoration: none
}

#site_nav .navbar-inner .nav > li:before {
    content: " ";
    width: 0;
    height: 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 14px;
    left: -2px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg)
}

#site_nav .navbar-inner .nav > li:first-child:before {
    display: none
}

#site_nav .navbar-inner .nav > li:after {
    position: absolute;
    content: " ";
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #c71326;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in
}

#site_nav .navbar-inner .nav > li:hover:after, #site_nav .navbar-inner .nav > li.active:after {
    opacity: 1
}

#site_nav .navbar-inner .nav > .active a, #site_nav .navbar-inner .nav > li a:hover {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none
}

@media (max-width: 979px) {
    #site_nav .navbar-inner {
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        position: relative
    }

    #site_nav .navbar-inner .brand {
        display: inline-block
    }

    #site_nav .navbar-inner .brand img {
        max-height: 60px
    }
}

@media (max-width: 979px) and (max-width: 767px) {
    #site_nav .navbar-inner .brand img {
        margin-top: 5px;
        max-height: 55px
    }
}

@media (max-width: 979px) {
    #site_nav .navbar-inner .brand h2 {
        font-size: 1em
    }

    #site_nav .navbar-inner .btn-navbar {
        position: absolute;
        right: 0;
        top: 30px;
        color: #000;
        text-shadow: none
    }

    #site_nav .navbar-inner .nav-collapse {
        border-radius: 4px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067)
    }
}

@media (max-width: 767px) {
    #main {
        margin: 0 10px
    }
}

#main_page #content, #user_profile_page.users_page #content {
    padding: 0;
    box-shadow: none;
    background-color: inherit
}

@media (min-width: 768px) and (max-width: 979px) {
    #main_page .articles .content-image {
        width: 180px
    }

    #main_page .articles .media-heading {
        font-size: 1.2em;
        line-height: 1.3em
    }
}

#main_page .events .event {
    height: 120px
}

@media (min-width: 768px) and (max-width: 979px) {
    #main_page .events .event {
        height: 100px
    }
}

@media (max-width: 767px) {
    #main_page .events .event {
        height: auto
    }
}

@media (min-width: 768px) {
    #main_page .events .event:nth-child(2) {
        margin-top: 0
    }
}

#main_page .events .event:nth-child(2n+1) {
    margin-left: 0
}

#main_page .events .event .content-image {
    width: 110px !important
}

#main_page .events .event .media-body {
    line-height: 1.4em;
    font-size: 0.9em
}

@media (max-width: 767px) {
    #main_page .events .event .media-body {
        font-size: 1em
    }
}

@media (max-width: 767px) {
    #main_page .users {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap
    }

    #main_page .users .user.span3:nth-child(2n+1) {
        margin-left: 0
    }

    #main_page .users .user.span3 {
        display: inline-block;
        width: 75%;
        margin-left: 2.76243%
    }
}

#main_page #page_header {
    display: none
}

#main_content #content .event_registration .content-image {
    width: 110px !important
}

@media (max-width: 979px) {
    #sidebar {
        margin-top: 20px
    }
}

#sidebar .thumbnails.grid .thumbnail {
    width: 100%;
    height: 5em;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-left: 0
}

#sidebar .thumbnails.grid .thumbnail {
    padding: 0;
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
    text-align: left
}

#sidebar .thumbnails.grid .thumbnail .thumbnail_img {
    width: 30%;
    float: left
}

#sidebar .thumbnails.grid .thumbnail .thumbnail_img img {
    position: static
}

#sidebar .thumbnails.grid .thumbnail .details {
    text-align: left;
    position: static;
    margin-left: 2.5%;
    padding: 0;
    float: left;
    width: 65%
}

#sidebar .thumbnails.grid .thumbnail .details h4 {
    margin: 0
}

#sidebar .thumbnails.grid .thumbnail p.display_name {
    font-size: 1.1em;
    font-weight: bold;
    word-break: break-all;
    margin: 0
}

#sidebar .user.thumbnail .thumbnail_img {
    width: 25% !important
}

#sidebar .user.thumbnail .details .display_name {
    font-weight: normal !important
}

#sidebar .forum_posts .forum_post .forum_post_icon, #sidebar .forum_posts .forum_post .report_content {
    display: none
}

#sidebar .forum_posts .forum_post .byline {
    font-size: 0.95em;
    line-height: 1.4em
}

#sidebar .recent_poll h3, #sidebar .forum_posts .forum_post h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
    line-height: 1.3em
}

#sidebar .page p:first-child:empty {
    display: none
}

#profile_header #main-information {
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-sizing: border-box
}

#main_content #content .media-list .media .content-image {
    width: 225px
}

@media (min-width: 980px) and (max-width: 1199px) {
    #main_content #content .media-list .media .content-image {
        width: 200px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #main_content #content .media-list .media .content-image {
        width: 180px
    }
}

@media (max-width: 767px) {
    #main_content #content .media-list .media .content-image {
        width: 110px
    }
}

@media (max-width: 1199px) {
    #main_content #content .media-list .media-body .datestamp, #main_content #content .media-list .media-body .location, #main_content #content .media-list .media-body .address, #main_content #content .media-list .media-body .summary {
        font-size: 12px;
        line-height: 18px
    }
}

@media (max-width: 767px) {
    #main_content #content .media-list .content-image {
        width: 110px;
        float: left
    }

    #main_content #content .media-list .media-heading {
        font-size: 1em;
        line-height: 1.1em;
        margin-bottom: 0
    }

    #main_content #content .media-list .media-body p {
        margin: 0
    }

    #main_content #content .media-list .datestamp, #main_content #content .media-list .location, #main_content #content .media-list .byline {
        font-size: 0.85em;
        line-height: 1.4em
    }

    #main_content #content .media-list .summary, #main_content #content .media-list .address {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #main_content #content #page_header h2 {
        font-size: 1.4em;
        line-height: 1.2em
    }
}

@media (max-width: 767px) {
    #main_content #content #page_header h2 {
        font-size: 1.3em;
        line-height: 1.2em
    }
}

#main_content #content .page.content .content-image {
    padding: 10px
}

#main_content #content .page.content .content-image.pull-left {
    padding: 5px 10px 5px 0
}

#site_footer {
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    line-height: 2em;
    font-size: 0.9em
}

@media (max-width: 979px) {
    #site_footer {
        padding: 15px
    }
}

#site_footer a {
    color: #fff
}

#site_footer a:hover {
    color: inherit
}

#site_footer .logo {
    width: 247px;
    height: 90px
}

#site_footer #copyright {
    text-align: left
}

@media (max-width: 979px) {
    #main_content .page-header {
        margin: -10px 0px 10px
    }
}

@media (max-width: 767px) {
    #main_content .search {
        box-sizing: border-box;
        width: 100%
    }

    #main_content .search input {
        width: 90%
    }

    #main_content .thumbnails.grid .thumbnail {
        padding: 0;
        border: 0;
        box-shadow: none;
        margin-bottom: 10px;
        text-align: left
    }

    #main_content .thumbnails.grid .thumbnail .thumbnail_img {
        width: 30%;
        float: left
    }

    #main_content .thumbnails.grid .thumbnail .thumbnail_img img {
        position: static
    }

    #main_content .thumbnails.grid .thumbnail .details {
        text-align: left;
        position: static;
        margin-left: 2.5%;
        padding: 0;
        float: left;
        width: 65%
    }

    #main_content .thumbnails.grid .thumbnail .details h4 {
        margin: 0
    }

    #main_content .thumbnails.grid .thumbnail p.display_name {
        font-size: 1.1em;
        font-weight: bold;
        word-break: break-all;
        margin: 0
    }
}

@media (max-width: 767px) {
    .pagination ul {
        display: block;
        box-shadow: none
    }

    .pagination ul > li a {
        display: none
    }

    .pagination ul > li.next_page a, .pagination ul li.previous_page a {
        box-sizing: border-box;
        width: 50%;
        display: inline-block;
        padding: 8px 0;
        text-align: center
    }
}

.media-list .media.span4:nth-child(3n+1) {
    margin-left: 0
}

#sidebar .media.span4 {
    width: 100%
}

.article img, .event img {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.sites .site {
    margin-top: 0;
    margin-bottom: 15px;
    height: 50px
}

.sites .site h4 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0;
    padding: 0
}

@media (max-width: 979px) {
    #user_profile_page .user_content_nav {
        margin-bottom: 0
    }
}

#sidebar .media-list, #user_profile.user_content .media-list {
    margin: 0;
    padding: 0
}

#sidebar li.media, #user_profile.user_content li.media {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px
}

#sidebar .media .content-image, #user_profile.user_content .media .content-image {
    max-width: 110px;
    float: left
}

#sidebar .media .media-heading, #user_profile.user_content .media .media-heading {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 0
}

#sidebar .media .media-body p, #user_profile.user_content .media .media-body p {
    margin: 0
}

#sidebar .media .datestamp, #sidebar .media .location, #sidebar .media .byline, #user_profile.user_content .media .datestamp, #user_profile.user_content .media .location, #user_profile.user_content .media .byline {
    font-size: 0.85em;
    line-height: 1.4em;
    padding-bottom: 0;
    margin-bottom: 0
}

#sidebar .media .datestamp, #user_profile.user_content .media .datestamp {
    display: inline-block
}

#sidebar .media .location, #sidebar .media .byline, #user_profile.user_content .media .location, #user_profile.user_content .media .byline {
    display: block
}

#sidebar .media .summary, #sidebar .media .address, #user_profile.user_content .media .summary, #user_profile.user_content .media .address {
    display: none
}

#sidebar .boxed.activities .boxed-content, #user_profile.user_content .boxed.activities .boxed-content {
    max-height: none
}

#sidebar .tabs.activities .nav li, #user_profile.user_content .tabs.activities .nav li {
    width: 50%
}

#sidebar .tabs.activities .tab-content .activities, #user_profile.user_content .tabs.activities .tab-content .activities {
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

#sidebar .tabs.activities .footer, #user_profile.user_content .tabs.activities .footer {
    padding: 5px;
    text-align: right
}

#sidebar .panel.user_activities .panel-content, #user_profile.user_content .panel.user_activities .panel-content {
    max-height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

#main_content #content .events.media-list .media .content-image {
    width: 100px
}

#sidebar .events.media-list .media .content-image, #user_profile.user_content .events.media-list .media .content-image {
    width: 60px !important
}

#user_profile.user_content ul.memberships {
    margin: 0
}

.downloads .download .datestamp, .downloads .download .summary {
    display: none !important
}

.weather_widget {
    padding: 0;
    margin-bottom: 15px
}

.weather_widget a {
    color: inherit;
    text-decoration: none
}

.weather_widget a:hover .title {
    color: inherit
}

.weather_widget .temp_container {
    display: inline-block
}

@media (max-width: 767px) {
    .weather_widget .temp_container {
        float: left
    }
}

.weather_widget .title {
    border-bottom: 1px solid #000
}

.weather_widget .forecast_icon {
    float: left;
    margin: 5px;
    height: 4em
}

@media (min-width: 768px) and (max-width: 979px) {
    .weather_widget .forecast_icon {
        height: 2.5em
    }
}

.weather_widget .temp {
    float: left;
    font-size: 4em;
    line-height: 1em;
    margin: 5px 20px;
    font-weight: bold
}

@media (min-width: 768px) and (max-width: 979px) {
    .weather_widget .temp {
        font-size: 2.5em
    }
}

.weather_widget .summary {
    margin-top: 10px
}

.accordion .accordion-group {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06)
}

.accordion .accordion-heading {
    background-color: #EBECED
}

.accordion .accordion-heading a {
    color: #000 !important;
    font-weight: bold
}

.askjack {
    min-height: 105px
}

.askjack .jack {
    width: auto;
    height: 100px;
    margin-right: 10px
}

@media (max-width: 767px) {
    .products .product .product-image {
        float: left
    }
}

.products .product .product-info h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    line-height: 1.2em
}

@media (min-width: 768px) and (max-width: 979px) {
    .products .product .product-info h3 {
        font-size: 1.4em;
        line-height: 1.2em
    }
}

@media (max-width: 767px) {
    .products .product .product-info h3 {
        font-size: 1.3em;
        line-height: 1.2em
    }
}

.products .product .price {
    display: none
}

.products .product .details {
    text-align: left
}

.products .product .summary {
    margin-bottom: 5px
}

.products .product select, .products .product .select2-container {
    width: 100%
}

#user_bar > li > a {
    color: #fff;
    font-size: 1.1em
}

.thumbnail {
    padding-right: 6px
}

.thumbnail img {
    border: 1px solid #ddd
}

.thumbnail .details {
    text-align: center
}

@media (max-width: 767px) {
    .thumbnail .details {
        text-align: left
    }
}

.thumbnail .details p.display_name {
    margin: 0
}

.thumbnails .category.thumbnail img, .thumbnails .group.thumbnail img, .thumbnails .product.thumbnail img, .thumbnails .user.thumbnail img {
    border: 0
}

.thumbnails .category h3.display_name {
    margin: 0;
    font-size: 1.3em
}

.thumbnails .product.thumbnail {
    padding: 10px;
    height: 16em;
    overflow: visible !important
}

.thumbnails .product.thumbnail .thumbnail_img, .thumbnails .product.thumbnail img {
    height: auto !important
}

.thumbnails .product.thumbnail img {
    width: 100% !important;
    max-width: none;
    position: static !important
}

.thumbnails .product.thumbnail .details {
    position: static !important;
    overflow: visible !important;
    max-height: none !important
}

.cart_related_products .products .product .summary {
    display: none
}

.cart_related_products .products .product.thumbnail {
    height: 18em !important
}

@media (min-width: 768px) and (max-width: 1199px) {
    .cart_related_products .products .product.thumbnail {
        height: 15em !important
    }
}

@media (max-width: 767px) {
    .cart_related_products .products .product.thumbnail {
        height: 12em !important
    }
}

.membership_areas fieldset {
    margin-bottom: 20px
}

.membership_areas fieldset legend {
    margin-bottom: 0
}

.activities .activity .activity_info {
    background-color: #efefef;
    padding: 5px
}

.activities .activity .activity_info p {
    margin: 0
}

.activities .activity .profile_icon img {
    width: 50px;
    height: auto
}

.activities .activity .activity_preview {
    font-size: 0.9em;
    line-height: 1.3em
}

#registration_fields .content_detail_type_primary_area_interest, #registration_fields .content_detail_type_club_racing_area_interest, #registration_fields .content_detail_type_road_rally_area_interest, #registration_fields .content_detail_type_rallyx_area_interest, #registration_fields .content_detail_type_solo_area_interest, #registration_fields .content_detail_type_pro_racing_area_interest, #registration_fields .content_detail_type_tt_pdx_area_interest {
    display: none
}

#registration_fields .worker_days_available {
    margin-bottom: 30px
}

#registration_fields .worker_days_available .control-group {
    margin-bottom: 10px
}

#registration_fields .worker_days_available .control-group:first-child {
    margin-bottom: 0px
}

#registration_fields .worker_days_available .worker_specialty_select {
    margin-left: 18px
}

#registration_fields .contingency_registrations {
    margin-bottom: 10px
}

#registration_fields .contingency_registrations .contingency_registration {
    margin-bottom: 10px
}

#registration_fields .contingency_registrations .contingency_registration label {
    margin-bottom: 0
}

#registration_fields .contingency_registrations .contingency_registration .help-block {
    padding-left: 20px;
    font-size: 0.9em
}

.ad {
    text-align: center
}

#profile-page-ad {
    margin-bottom: 15px
}

#site_footer #footer-ad, #site_footer #footer-ad-2 {
    margin: 10px
}

#sponsor-footer {
    padding: 20px 0 30px;
    margin: 0;
    background-color: #fff
}

.membership_print_photo {
    text-align: center
}

.membership_print_photo > img {
    margin: 0 20px;
    max-width: 170px
}

.membership_print_sub_header h4, .membership_print_sub_header .print_date {
    margin: 5px 0
}

.membership_print_sub_header .print_date {
    line-height: 20px
}

.membership_print_details .pull-left {
    width: 65%
}

.membership_print_details .pull-right {
    width: 35%
}

#event_sessions_page #page_header {
    display: none
}

.event_session #session_header {
    text-align: center;
    padding: 10px 10px 20px;
    font-size: 2em;
    line-height: 1em
}

.event_session #ts_waiting {
    margin-top: -20px;
    background: transparent url("/assets/scca/grid-blur.jpg") no-repeat;
    width: 100%;
    height: 736px;
    text-align: center
}

.event_session #ts_waiting .message {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 8%;
    background-color: rgba(255, 255, 255, 0.5)
}

.event_session .scoring_side {
    padding-top: 18px
}

@media (max-width: 979px) {
    .event_session .scoring_side {
        padding-top: 23px
    }
}

.event_session .scoring_side .signup {
    margin-top: 10px
}

@media (max-width: 767px) {
    .event_session .scoring_side .signup {
        margin-top: 20px
    }
}

.event_session .scoring_side .signup .panel-content {
    padding-top: 10px
}

.event_session .scoring_side .signup .form-horizontal .control-group {
    margin-bottom: 10px
}

.event_session .scoring_side .signup .form-horizontal .control-label {
    float: none;
    width: auto;
    text-align: left;
    margin-left: 20px
}

.event_session .scoring_side .signup .form-horizontal .controls {
    margin-left: 20px;
    text-align: left
}

.event_session .scoring_side .signup .form-horizontal .form-actions {
    padding-left: 20px;
    text-align: left
}

.event_session .scoring_side .signup .form-horizontal input {
    max-width: 90%
}

.event_session .scoring_side .signup .account_text {
    padding: 5px
}

.event_session .scoring_side .expand_video {
    margin: -20px 0 20px
}

.event_session #event_chat .panel {
    background: #fff
}

.event_session #event_chat .panel #submit_chat_message {
    margin: 5px
}

.event_session .weather_widget {
    margin-bottom: 10px
}

.event_session .weather_widget .details {
    display: inline-block
}

.results_grid tr.best_session_times td {
    text-align: center
}

.results_grid td {
    vertical-align: top !important
}

.time_remaining {
    font-size: 1.1em
}

.session_header {
    padding: 0 10px
}

.session_header .warnings {
    padding: 5px 0;
    line-height: 1.1em
}

.session_header .legend {
    font-size: 0.8em;
    line-height: 0.9em
}

.session_header .block {
    padding: 5px
}

.session_header .best {
    color: green
}

.session_header .block.best {
    background-color: green;
    color: #fff
}

.session_header .session_best {
    color: purple
}

.session_header .block.session_best {
    background-color: purple;
    color: #fff
}

#t_and_s_wrapper > .event_session {
    background-color: #fff;
    padding: 5px 10px 10px;
    margin-bottom: 20px
}
