.container {
    position: relative;
    display: inline-block;
}

.input {
    width: 270px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input:focus {
    outline: none;
}

.open .input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.suggestionsContainer {
    display: none;
}

.containerOpen .suggestionsContainer {
    display: block;
    position: absolute;
    top: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    width: 270px;
    padding: 6px;
}

.suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.suggestionFocused {
    background-color: #ddd;
}