.container {
    width: 600px;
    margin: auto;
}

.classCardIcon {
    position: relative;
    background: red;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .1);
    line-height: 100px;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    color: white;
}

.classCardText {
    display: inline-block;
    left: 10px;
    width: 430px;
    position: relative;
}

.classCardTextHeader {
    font-size: 25px;
    margin-bottom: 5px;
}

.classCardTextLabel {
    margin-right: 5px;
}