.suggestionContent {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 20%;
}

.suggestionContent > span {
    margin-left: 68px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.autosuggestContainer {
    display: inline-block;
}

.validator {
    margin-left: 5px;
}