doctype html
html(lang='en')
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='shortcut icon', href='/images/original.png')
    body(id="main_page")
        block page_content
